<section class="container-fluid">
    <div class="row">
        <header>
            <h2><a href="{{ site.link }}">{{ site.title }}</a></h2>
        </header>
    </div>
    <div class="row">
        {% if site.vip == 1 %}
            <div class="col-sm-2"><img class='site_img' src="{{ asset(['images/', site.image]|join) }}" /></div>
            <p class="col-sm-10 site_description">
                <p>{{ site.description(500) }}</p>
                <p class="continue"><a href="{{ site.link }}">{{ site.link }}</a></p>
            </p>
        {% else %}
            <p class="col-sm-12 site_description">
                <p>{{ site.description(500) }}</p>
                <p class="continue"><a href="{{ site.link }}">{{ site.link }}</a></p>
            </p>
        {% endif %}

    </div>

</section>