<section class="section">
    <header>
        <h3>Categories</h3>
    </header>
    <ul>
        {% for cat in categories %}
            <li><a href="{{ path('orbita_catalog_category', { 'id': cat.id }) }}">{{ cat.title }}</a></li>
            {#<article class="comment">
                <header>
                    <p class="small"><span class="highlight">{{ comment.user }}</span> commented on
                        [<em><time datetime="{{ comment.created|date('c') }}">{{ comment.created|created_ago }}</time></em>]
                    </p>
                </header>
                <p>{{ comment.comment }}</p>
                </p>
            </article>#}
        {% else %}
            <p>There are no recent comments</p>
        {% endfor %}
    </ul>
</section>